

div{
  background-color: rgb(231, 153, 49);
}


h6{

  font-style:italic;
  font-size: 60px;
  text-align: center;
}

.banner{

  max-width: 700px;
  height: 400px;
  position: relative;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;


}