 #logoap{

    width: 200px;
    height: 100px;
    border-radius: 25px;
    position: absolute;
   margin-top: -100px;
   z-index: 1;
 }


 .ig{
  position: relative;
  bottom: 0px;
 float: right;

  margin-top: 0px;
  width: 100px;
    height: 100px;
 }
