<div class="row">

    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                
                <h1> Trabajo 1</h1> - <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perspiciatis minima, excepturi laborum aperiam quasi totam culpa accusamus iste tempora possimus quis adipisci accusantium eveniet nesciunt pariatur. A, delectus nam.</p>

        </ul>
        <ul>
            <li>
                
                <h1> Trabajo 2</h1> - <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perspiciatis minima, excepturi laborum aperiam quasi totam culpa accusamus iste tempora possimus quis adipisci accusantium eveniet nesciunt pariatur. A, delectus nam.</p>

        </ul>
        <ul>
            <li>
                
                <h1> Trabajo 3</h1> - <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis perspiciatis minima, excepturi laborum aperiam quasi totam culpa accusamus iste tempora possimus quis adipisci accusantium eveniet nesciunt pariatur. A, delectus nam.</p>

        </ul>


    </div>


</div>