

<div class="row" >

       <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdWK_Pz64mX0CrnlzUC6tQiS1qfRoG3jd0gg&usqp=CAU" class="img-fluid">
       </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <span> <h6 id="nombre"> Marcelo Rodriguez Brandisi, Licenciado en Administración.
            </h6>
   </span>
        </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <p> ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate doloremque ab necessitatibus cumque aspernatur! Odio beatae harum amet provident magnam vitae saepe molestiae! Voluptate blanditiis distinctio debitis cupiditate repudiandae minus.
    </p>
    </div>

</div>



