.row{
  padding: 40px;
}

#messi{
 float: none;
  margin-top: -100px;
  border-radius: 20%;
}

div{
  background-color: rgb(231, 153, 49);
  text-align: center;
}

/*nombre y apellido */ 
#nombre{
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
  color: black;
  padding-right: 25px;


}

@media (min-widht: 576px) {
  #fotoperfil {
    border-radius: 50%;
  }
}




#titulo{
  font-size: medium;
    margin-top: 10px;
  color: black;
  padding-right: 25px;
}

/*estilo de la foto de perfil*/

@media (min-width:576px){

#fofoperfil{

  position: absolute;
  width: 15%;
  border-radius: 100%;

}

}

@media (max-widht: 576px) {
  #fotoperfil{
    border-radius: 100%;
  }
}



